.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.dialog {
    display: flex;
    flex-direction: row;
    max-height: 443px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
}

.button_close {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.icon_close {
    font-size: 22px;
    width: 100%;
}

.image_cover {
    width: 367px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.container_details {
    overflow-y: auto;
}

.text_title {
    color: white;
    font-weight: bold;
    text-align: start;
    margin-right: 40px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.text_author {
    color: rgba(255, 255, 255, 0.75);
    text-align: start;
}

.text_price {
    color: rgba(255, 255, 255, 0.75);
    text-align: start;
    margin-bottom: 10px;
}

.text_description {
    color: rgba(255, 255, 255, 0.75);
    text-align: start;
}