.item_card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.025);
    border-radius: 8px;
    padding: 4px 8px 4px 4px;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 8px;
}

.item_info {
    display: flex;
    gap: 18px;
}

.item_image {
    width: 50px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
}

.item_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.item_author {
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4);
    flex: 1;
}

.item_title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.85);
    flex: 1;
}

.quantity_pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
}

.quantity_controls {
    display: flex;
    align-items: center;
    gap: 2px;
}

.button_change_quantity {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.button_change_quantity:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon_change_quantity {
    font-size: 18px;
}

.item_quantity {
    height: 30px;
    width: 60px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.item_price {
    font-size: 18px;
    font-weight: bold;
}

.remove_button {
    height: 30px;
    width: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #777;
    cursor: pointer;
}

.remove_button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}