.itemCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.025);
    border-radius: 8px;
    padding: 4px 8px 4px 4px;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 8px;
}

.itemImage {
    width: 50px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
}

.itemFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.itemAuthor {
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4);
    flex: 1;
}

.itemTitle {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.85);
    flex: 1;
}

.quantityPricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
}

.quantityControls {
    display: flex;
    align-items: center;
    gap: 2px;
}

.buttonChangeQuantity {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: background-color 50ms linear, border 50ms linear;
}

.buttonChangeQuantity:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.025);
}

.iconChangeQuantity {
    font-size: 18px;
}

.itemQuantity {
    height: 30px;
    width: 60px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.05);
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

.itemPrice {
    font-size: 18px;
    font-weight: bold;
}

.buttonRemoveItem {
    height: 30px;
    width: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: rgba(255, 255, 255, 0);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 50ms linear, border 50ms linear, color 50ms linear;
}

.buttonRemoveItem:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.05);
    color: rgb(255, 255, 255);
}