.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(39, 57, 28);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.header_left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.0;
    color: rgb(214, 247, 214);
}

.header nav {
    display: flex;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(214, 247, 214);
    font-weight: 500;
}

.searchInput {
    height: 40px;
    width: min(25%, 400px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.025);
    border-radius: 20px;
    padding: 0 20px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    font-size: 18px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.85);
}

.cart_container {
    height: 30px;
    background-color: rgba(0, 129, 13, 0.5);
    align-items: center;
    border-radius: 20px;
    display: flex;
    gap: 0px;
    padding: 5px 10px;
}

.cart_text {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
}

.cart_button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(255, 255, 255, 0.85);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    /* Dim background */
    z-index: 5;
}

.cart_dropdown {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 400px;
    background-color: rgba(12, 12, 12, 0.75);
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.list_cart {
    max-height: 70vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
}

.cart_dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.cart_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_title {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
}

.button_close_cart {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button_close_cart:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon_close_cart {
    color: rgba(255, 255, 255, 0.85);
    font-size: 22px;
    line-height: 1.0;
}

.cart_empty_container {
    height: 100px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    align-content: center;
}

.empty_cart_text {
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    text-align: center;
}

.button_checkout {
    background: #000000;
    border: none;
    border-radius: 8px;
    /* Bright yellow */
    color: white;
    height: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}