.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(39, 57, 28);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerLogo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.0;
    color: rgb(214, 247, 214);
}

.header nav {
    display: flex;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(214, 247, 214);
    font-weight: 500;
}

.searchContainer {
    height: 40px;
    width: min(25%, 400px);
    padding: 0 20px;
}

.searchInput {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.025);
    border-radius: 20px;
    margin-top: 0;
}

.suggestionsDropdown {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: min(25%, 400px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    backdrop-filter: blur(20px);
    left: calc(50% - (min(25%, 400px) / 2));
}

.suggestionItem {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 50ms;
}

.suggestionItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cartButtonIcon {
    font-size: 18px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.85);
}

.cartButtonContainer {
    height: 30px;
    background-color: rgba(0, 129, 13, 0.5);
    align-items: center;
    border-radius: 20px;
    display: flex;
    gap: 0px;
    padding: 5px 10px;
}

.cartButtonText {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
}

.cartButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(255, 255, 255, 0.85);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    /* Dim background */
    z-index: 5;
}

.cartDropdown {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 400px;
    background-color: rgba(12, 12, 12, 0.75);
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.listCartItems {
    max-height: 70vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
}

.cartDropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartTitle {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
}

.buttonCloseCart {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 50ms linear;
}

.buttonCloseCart:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.iconCloseCart {
    font-size: 22px;
    width: 100%;
}

.cartEmptyContainer {
    height: 100px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    align-content: center;
}

.cartEmptyText {
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    text-align: center;
}

.buttonCheckout {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 50ms linear, border 50ms linear;
}

.buttonCheckout:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.025);
}