.pageRootLayout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1828&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

.rowLayout {
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    max-width: 1200px;
    margin: 80px;
    display: flex;
    flex-direction: row;
}

.itemsLayout {
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    backdrop-filter: blur(20px);
}

.navigationHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.buttonClose {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.05s linear;
}

.buttonClose:hover {
    background: rgba(255, 255, 255, 0.05);
}

.iconClose {
    font-size: 22px;
    width: 100%;
}

.navigationText {
    color: rgb(255, 255, 255);
    padding-left: 10px;
    font-size: 18px;
}

.itemList {
    max-height: 100%;
}

.listCart {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    list-style: none;
}

.paymentLayout {
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1.5px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    backdrop-filter: blur(20px);
    overflow-y: auto;
}

.sectionTitle {
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: start;
    margin-bottom: 10px;
}

.methodLayout {
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.optionSelected {
    height: 100%;
    width: 50%;
    background: rgb(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    transition: border 0.075s linear;
}

.optionUnselected {
    height: 100%;
    width: 50%;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255, 0);
    border-radius: 12px;
}

.methodButton {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    transition: background-color 0.05s linear;
}

.methodButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.infoLayout {
    margin-bottom: 15px;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input {
    margin-top: 0px;
}

.select {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.buttonCheckout {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    color: white;
    height: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.05s linear;
}

.buttonCheckout:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.025);
}