.pageBackground {
    height: 100vh;
    display: flex;
    background-image: linear-gradient( rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1828&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

.pageContainerHolder {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}

.container {
    width: 350px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
}

.buttonClose {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.buttonClose:hover {
    background: rgba(255, 255, 255, 0.05);
}

.iconClose {
    font-size: 22px;
    width: 100%;
}

.pageTitle {
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.pageDescription {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.inputCredential {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonContinue {
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: small;
}

.buttonContinue:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.025);
}

.error {
    margin-top: 20px;
    font-weight: bold;
    font-size: small;
    color: rgba(255, 35, 35, 0.75);
}

.noteTogglePage {
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.buttonTogglePage {
    height: 30px;
    padding: 0 8px 0 8px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    cursor: pointer;
    font-size: small;
}

.buttonTogglePage:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.025);
}