.product_list {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 214px);
    gap: 40px 20px;
    justify-content: space-around;
    align-content: space-around;
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 150px;
}

.product_item {
    width: 214px;
    padding: 5px;
    border: 2px solid #00000010;
    border-radius: 12px;
    background-color: #292929;
    text-align: start;
    overflow: hidden;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.product_item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.book_title {
    font-weight: bold;
    cursor: auto;
}

.product_item img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    object-fit: cover;
    cursor: pointer;
}

.book_price_container {
    height: 30px;
    background-color: rgba(0, 129, 13, 0.25);
    padding: 5px 10px;
    border-radius: 15px;
}

.book_price_text {
    font-size: 0.9rem;
    color: rgb(214, 247, 214);
    font-weight: bold;
    max-lines: 3;
}

.book_title {
    font-size: 16px;
    line-height: 1.0;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.book_author {
    font-size: 14px;
    line-height: 1.0;
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.button_add {
    background: #3a3a3a;
    border: none;
    border-radius: 3px 3px 3px 8px;
    /* Bright yellow */
    color: white;
    height: 40px;
    width: 120px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.product_item button:hover {
    background-color: rgba(0, 129, 13, 1.0);
    /* Darker orange-yellow */
}

.cart_containers {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cart_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}