.pageRootLayout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowLayout {
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    max-width: 1200px;
    margin: 80px;
    display: flex;
    flex-direction: row;
}

.navigationLayout {
    height: 100%;
    width: 50%;
    max-width: 200px;
    background-color: rgb(41, 41, 41);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}

.navigationLayout ul {
    list-style: none;
}

.navigationHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.actionButton {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
}

.buttonNavigation {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    padding-left: 10px;
}

.iconClose {
    font-size: 22px;
    width: 100%;
}

.navigationText {
    color: rgb(255, 255, 255);
    padding-left: 10px;
    font-size: 18px;
}

.itemList {
    max-height: 100%;
}

.listCart {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    list-style: none;
}

.paymentLayout {
    height: 100%;
    width: calc(100% - min(50%, 200px));
    background-color: rgb(53, 53, 53);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.paymentHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.editableTableWrapper {
    height: calc(100% - 40px);
    width: 100%;
    overflow: auto;
    border-radius: 10px;
}

.sectionTitle {
    text-transform: capitalize;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.tableHeaderActions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.editableTable {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.editableTable thead {
    position: sticky;
    top: 0;
    background-color: rgb(93, 93, 93);
}

.editableTable th {
    background-color: rgba(255, 255, 255, 0.0);
    color: white;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
}

.editableTable td {
    padding: 2px;
    border-style: solid;
    border-width: 2px 1px;
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.15);
}

.tableInput {
    height: 30px;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    padding: 0 5px
}

.tableInput:disabled {
    color: rgb(255, 255, 255);
    opacity: 0.65 !important;
    font-weight: bold;
}

.rowActions {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px !important;
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.15);
    gap: 2px;
}